<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
    <title>404 Not Found</title>
</head>
<body class="error-page">
    <div class="container-error">
        <h1 class="not-found">404 Not Found</h1>
        <p class="error-message-not-found">Страница не найдена. Пожалуйста, вернитесь на <a href="/" class="page-redirect">главную страницу</a>.</p>
    </div>
</body>
</html>
