<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
    <title>500 Internal Server Error</title>
</head>
<body class="server-error">
    <div class="container-server-error">
        <h1 class="error-title">500 Internal Server Error</h1>
        <p class="error-message">На сервере произошла ошибка. Пожалуйста, попробуйте позже.</p>
        <a href="/" class="error-link">Вернуться на главную</a>
    </div>
</body>
</html>
